.metadata/
.project
.classpath
.settings
*.base_IS_UNDEFINED/
target/
out/
RemoteSystemsTempFiles/
eclipse-workspace/
logs/

*.iml
*.ipr
*.iws
.idea/
!.idea/codeStyleSettings.xml
!.idea/checkstyle-idea.xml.sample
!.idea/fileTemplates/
!.idea/inspectionProfiles/
.idea/sonarlint/
.idea/libraries/
.idea/workspace.xml

# IDE - VSCode
web/.vscode/

web/src/app/generated-const/
web/src/app/generated-model/
web/src/assets/i18n/

temp
tmp/

#etc/m2/
./~
./'~'/
~/
*.log
*.log
release/etc/docker/wylov-server/bin
release/etc/docker/server
build-server.sh
